@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Permanent+Marker&display=swap');

/* Notes:

    I used cssgradient.io and cssportal to create the colored gradients.

    COLORS:

    Color:

    Blue: #355070
    BlueDark: #192B40

    Lavender: #82589c
    LavenderDark: #673E80

    Rose: #d48092
    Coral: #f8acac

    LightCoral: #f7bbb9


    LightBronze: #ffccb3

    Grayscale:

    Black: #181E25
    White: #ffffff



*/

* {
    font-weight: 350;
    color: #ffffff;
}

body {
    font-family: "Google Sans Flex", "Lucida Sans", sans-serif;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    height: 100vh;
}

.marker {
    font-family: "Permanent Marker", "Lucida Sans", sans-serif;
    color: #ffffff;
}

.pixel {
    font-family: "Bitcount Single", "Courier New", sans-serif;
    color: #d48092;
}

.blacktext {
    color: #181E25 !important;
}

.bold {
    font-weight: 700 !important;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    background: #355070;
    background: linear-gradient(90deg, rgba(53, 80, 112, 1) 0%, rgba(25, 43, 64, 1) 100%);
}

.headerlinks {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 1;
    background: #82589C;
    background: linear-gradient(0deg, rgba(130, 88, 156, 1) 0%, rgba(113, 67, 128, 1) 100%);
    padding: 48px;
    margin: 3px 0;
}

.herotext {
    margin: 0;
    width: 400px;
}

.heroparagraph {
    font-size: 24px;
}

.projects {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    background: #D48092;
    background: linear-gradient(180deg, rgba(212, 128, 146, 1) 0%, rgb(236, 158, 168) 85%, rgba(248, 172, 172, 1) 100%);
    gap: 16px;
    padding: 24px 16px 32px;
}

.projectsheader {
    align-self: center;
}

.projectslist {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    font-weight: bold;
    padding: 0 32px;
}

.project {
    display: flex;
    flex-flow: column wrap;
    width: 275px;
    gap: 12px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex-shrink: 1;
    margin: 32px 0;
    padding: 48px;
}

.quotetext {
    font-size: 42px;
    background: #673E80;
    background: linear-gradient(to left, #673E80 0%, #D48092 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.quotewriter {
    font-size: 16px;
}

.advert {
    display: flex;
    align-items: stretch;
    flex-shrink: 1;
    justify-content: center;
    background: #F8ACAC;
    background: linear-gradient(180deg, rgba(248, 172, 172, 1) 0%, rgb(247, 187, 185) 100%);
    padding: 8px;
}

.advertcontainer {
    gap: 12px;
    display: flex;
    align-items: stretch;
    padding: 16px;
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #ffccb3;
    margin-top: 3px;
}

.nomargin {
    margin: 0;
}

.stretchbutton {
    height: auto;
}

.emphasis {
    font-weight: bold;
    background: #FFCCB3;
    background: linear-gradient(to left, #FFCCB3 0%, #F8ACAC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

img {
    border-radius: 24px;
    border: solid #ffffff 6px;
    box-shadow: 8px 8px 4px rgba(255, 199, 170, 0.7);
}

button.marker {
    color: #ffffff;
}

li {
    text-decoration: none;
    padding: 0;
    color: #ffffff;
} 

button {
    font-size: 16px;
    width: 88px;
    background-color: #d48092;
    border: outset 4px;
    border-radius: 8px;
    padding: 8px 12px;
    border-color: #f7bbb9;
    cursor: pointer;
}

h4 {
    margin: 8px 0;
}

h3 {
    color: #ffffff;
}
