@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Permanent+Marker&display=swap');

/* COLORS:

    Darkblue: 2E4561
    Darkerblue: 08121E

    Darkgreen: 90E0C1
    Lightgreen: C5EFCB

    Lightpink: ce718d
    DarkPink: A87380

*/

* {
    font-weight: 300;
}

body {
    font-family: "Google Sans Flex", "Lucida Sans", sans-serif;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    gap: 16px;
    justify-content: space-between;
    height: 100vh;
}

.marker {
    font-family: "Permanent Marker", "Lucida Sans", sans-serif;
}

.pixel {
    font-family: "Bitcount Single", "Courier New", sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
    flex-shrink: 0;
    background-color: #90E0C1;
}

.headerlinks {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 1;
}

.herotext {
    margin: 0;
}

.heroparagraph {
    font-size: 24px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    background-color: #C5EFCB;
}

.infoheader {
    align-self: center;
}

.infoaboutme {
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex-shrink: 1;
    margin: 32px 0;
}

.quotetext {
    font-size: 42px;
}

.quotewriter {
    font-size: 16px;
}

.advert {
    display: flex;
    align-items: stretch;
    flex-shrink: 1;
    justify-content: center;
    background-color: #C5EFCB;
    padding: 8px;
}

.advertcontainer {
    gap: 12px;
    display: flex;
    align-items: stretch;
}

.footer {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    background-color: #2E4561;
    color: aliceblue;
}

.nomargin {
    margin: 0;
}

.stretchbutton {
    height: auto;
}

.emphasis {
    font-weight: bold;
    color: #ce718d;
}

li {
    text-decoration: none;
    padding: 0;
} 

button {
    font-size: 16px;
    width: 72px;
    background-color: #A87380;
    color: aliceblue;
    border: 0;
    border-radius: 8px;
    padding: 8px;
}

h4 {
    margin: 8px 0;
}