@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Permanent+Marker&display=swap');

/* COLORS:

    Color:
    DarkBlue: #355070
    DarkLavender: #82589c
    DarkRose: #d48092
    Coral: #f8acac
    LightBronze: #ffccb3

    Grayacale:

    Black: #181E25
    White: #ffffff



*/

* {
    font-weight: 300;
    color: #ffffff;
}

body {
    font-family: "Google Sans Flex", "Lucida Sans", sans-serif;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    height: 100vh;
}

.marker {
    font-family: "Permanent Marker", "Lucida Sans", sans-serif;
    color: #ffffff;
}

.pixel {
    font-family: "Bitcount Single", "Courier New", sans-serif;
    color: #d48092;
}

.blacktext {
    color: #181E25 !important;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: #355070;
}

.headerlinks {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 1;
    background-color: #82589c;
    padding: 48px;
}

.herotext {
    margin: 0;
    width: 400px;
}

.heroparagraph {
    font-size: 24px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    background-color: #d48092;
    gap: 16px;
    padding: 16px;
}

.infoheader {
    align-self: center;
}

.infoaboutme {
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
    font-weight: bold;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex-shrink: 1;
    margin: 32px 0;
    padding: 48px;
}

.quotetext {
    font-size: 42px;
}

.quotewriter {
    font-size: 16px;
}

.advert {
    display: flex;
    align-items: stretch;
    flex-shrink: 1;
    justify-content: center;
    background-color: #f8acac;
    padding: 8px;
}

.advertcontainer {
    gap: 12px;
    display: flex;
    align-items: stretch;
    padding: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #ffccb3;
}

.nomargin {
    margin: 0;
}

.stretchbutton {
    height: auto;
}

.emphasis {
    font-weight: bold;
    color: #ffc7aa;
}

button.marker {
    color: #ffffff;
}

li {
    text-decoration: none;
    padding: 0;
    color: #ffffff;
} 

button {
    font-size: 16px;
    width: 72px;
    background-color: #d48092;
    border: 0;
    border-radius: 8px;
    padding: 8px;
}

h4 {
    margin: 8px 0;
}

h3 {
    color: #ffffff;
}
